div{
    border-style: solid;
    background-color: blue
}
.container {
    border-color: #000;
    background-color: purple;
}
.row{
    border-color: red;
    background-color: green;
}
#index{
    background-color: cyan;
}